<div class="" id="chat-detail">
  <div id="chat-messages">
    <div class="message sent">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ad dolores eos dolorum cupiditate fugit soluta doloremque esse odit eligendi.
      <div class="small text-end">9:00pm</div>
    </div>
    <div class="message received">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ad dolores eos dolorum cupiditate fugit soluta doloremque esse odit eligendi.
      <div class="small text-end">9:00pm</div>
    </div>
  </div>
  <div class="stickers" id="stickers">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <div class="sticker-container">
            <img src="../../../assets/stickers/1.png" class="img-fluid" />
          </div>
        </div>
        <div class="col-4">
          <div class="sticker-container">
            <img src="../../../assets/stickers/2.png" class="img-fluid" />
          </div>
        </div>
        <div class="col-4">
          <div class="sticker-container">
            <img src="../../../assets/stickers/3.png" class="img-fluid" />
          </div>
        </div>
        <div class="col-4">
          <div class="sticker-container">
            <img src="../../../assets/stickers/4.png" class="img-fluid" />
          </div>
        </div>
        <div class="col-4">
          <div class="sticker-container">
            <img src="../../../assets/stickers/5.png" class="img-fluid" />
          </div>
        </div>
        <div class="col-4">
          <div class="sticker-container">
            <img src="../../../assets/stickers/6.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="message-form">
    <fa-icon
      [icon]="faStickyNote"
      class="icon mx-1 text-light"
      size="2x"
    ></fa-icon>
    <input type="text" id="message-input" />
    <fa-icon
      [icon]="faPaperPlane"
      class="icon mx-1 text-light"
      size="2x"
    ></fa-icon>
  </div>
</div>
