<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Whatsapp</span>
    <div class="user-select rounded" (click)="toggleUsersList()">
      <img src="assets/img/profile-pics/goku.jpg" class="rounded-circle" />
    </div>
  </div>
  <div class="container-fluid" *ngIf="showUsers">

      <app-users-list></app-users-list>

  </div>
  <div>
    <a routerLink="/">
      <span class="menu-option active">
        Chat
      </span>
    </a>
    <a routerLink="/contact-list">
      <span class="menu-option">
        Contactos
      </span>
    </a>
  </div>
</nav>
<main style="height: 100%;">
  <router-outlet></router-outlet>
</main>
