.user-select img, #users-list img {
  width: 35px;
  height: 35px;
}

#users-list {
  background-color: #3D505E;
  padding: 10px;
  border-radius: 8px;
  margin: 0 5px 5px 5px;
}

.bg-dark {
  background-color: #1E2A32!important;
}
